@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

html {
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-overflow-scrolling: touch;
}


a, a:hover, a:active {
  cursor: pointer;
  text-decoration: none;
}

.App {
  width: 100vw;
  background-color: #e6f1ff;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 20%;
  background-color: #fff;
}
.sidebar img {
  width: 5rem;
  height: 5rem;
}

.sidebar a {
  white-space: nowrap;
  text-decoration: none!important;
  margin-bottom: 0;
  width: 100%;
  color: #000;
  transition: .3s;
  min-height: 2.5rem;
  padding: 1rem 1rem 1rem 2rem;
}
.sidebar a:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00b5f9;
}

.main-content {
  margin-left: 20%;
  width: 80%;
}
input {
  border: 1px solid darkgrey;
  border-radius: 5px;
  outline: none;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
}
button {
  height: 2rem;
}