@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
html {
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-overflow-scrolling: touch;
}


a, a:hover, a:active {
  cursor: pointer;
  text-decoration: none;
}

.App {
  width: 100vw;
  background-color: #e6f1ff;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 20%;
  background-color: #fff;
}
.sidebar img {
  width: 5rem;
  height: 5rem;
}

.sidebar a {
  white-space: nowrap;
  text-decoration: none!important;
  margin-bottom: 0;
  width: 100%;
  color: #000;
  transition: .3s;
  min-height: 2.5rem;
  padding: 1rem 1rem 1rem 2rem;
}
.sidebar a:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00b5f9;
}
.sidebar a.active {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00b5f9;
}

.main-content {
  min-height: 100vh;
  margin-left: 20%;
  width: 80%;
  background-color: #424242;
}

.form-div {
  width: 100%;
  margin: 45px auto;
}
.form-div h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2196F3;
  margin-bottom: 2rem;
}
.form-div h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}
.form-div hr.sep {
  background: #2196F3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 50%;
  margin: 0px auto 45px auto;
}
.form-div .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

.input-style,
.input-style:-webkit-autofill,
.input-style:-webkit-autofill:hover,
textarea,
InputMask {
  background: none !important;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
.input-style:-webkit-autofill,
.input-style:-webkit-autofill:hover,
.input-style:focus,
textarea:focus,
InputMask:focus {
  outline: none;
}
.input-style:-webkit-autofill,
.input-style:-webkit-autofill:hover,
.input-style:focus ~ label, .input-style:valid ~ label,
InputMask:focus ~ label, InputMask:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}
.input-style:-webkit-autofill,
.input-style:-webkit-autofill:hover,
.input-style:focus ~ .bar:before,
InputMask:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 100%;
}


label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-submit {
  background: #2196F3;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}
.disp-wrap{
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.disp-wrap button{
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  cursor: pointer;
}
.disp-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.react-confirm-alert-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
  margin-right: .5rem;
  margin-bottom: .5rem;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}